$tooltip-padding: 0.375em;

.wrapper {
  position: relative;

  &:active .tooltip {
    transform: translateY(2px);
  }

  &:hover {
    z-index: 11;
    .tooltip { z-index: inherit; }
  }
}

.tooltip {
  align-items: center;
  background-color: #1a1a1a; // 161616
  border-radius: .5em;
  border: 0.135em solid #ce9178;
  bottom: 120%;
  box-shadow: 0 0.25em .75em #010409;
  box-sizing: border-box;
  color: #ce9178;
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-size: 80%;
  justify-content: center;
  left: 50%;
  padding: $tooltip-padding;
  padding-right: $tooltip-padding + 0.15em;
  pointer-events: none;
  position: absolute;
  white-space: nowrap;
  visibility: hidden;
  width: auto;

  svg {
    font-size: 112.5%;
    padding-right: $tooltip-padding - 0.15em;
  }

  &::after {
    border-color: #ce9178 transparent transparent transparent;
    border-style: solid;
    border-width: 0.3125em;
    content: '';
    left: 50%;
    margin-left: -0.3125em;
    position: absolute;
    top: 105%;
    visibility: inherit;
  }
}
